<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1366, initial-scale=0.8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Inventario e Informes</title>
    <link rel="preload" href="/static/css/normalize.css" as="style">
    <link rel="preload" href="/static/css/styles4.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles4.css">
    <link rel="stylesheet"  href="/static/js/jquery-3.5.1.js">
    <link rel="icon" href="../static/img/reporte.png" type="image/x-icon">
    {% load static %}
    <script src="{% static '/js/jquery-3.5.1.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.17/jspdf.plugin.autotable.min.js"></script>
</head>

<body>
    <div class="container">
        <h1 class="mt-5">Generar Reportes e Inventario</h1>
        <form id="reporteProductosForm" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="fecha_inicio">Fecha de Inicio:</label>
                <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio">
            </div>
            <div class="form-group">
                <label for="fecha_fin">Fecha de Fin:</label>
                <input type="date" class="form-control" id="fecha_fin" name="fecha_fin">
            </div>
            <div class="button-container">
                <button class="r_producto" type="button" id="generarReporteProductosBtn" ><i class="fas fa-box"></i> Reporte de Productos
                </button>
                <button class="r_solicitud" type="button" id="generarReporteSolicitudesBtn">
                    <i class="fas fa-file-alt"></i> Reporte de Solicitudes
                </button>
                <button class="pdf" type="button" id="descargarPdfBtn" >
                    <i class="fas fa-download"></i> Descargar PDF
                </button>
                <button class="borrar" type="button" id="limpiarCamposBtn">
                    <i class="fas fa-eraser"></i> Limpiar Campos
                </button>
            </div>
        </form>

        <div id="productosTabla" class="table-container">
            <h2>Inventario de Productos</h2>
            <table id="productosTable" class="table">
                <!-- Aquí se mostrarán los productos generados dinámicamente -->
            </table>
        </div>

        <div id="solicitudesTabla" class="table-container">
            <h2>Informe de Solicitudes</h2>
            <table id="solicitudesTable" class="table">
                <!-- Aquí se mostrarán las solicitudes de productos generadas dinámicamente -->
            </table>
        </div>

        <div id="message" class="message"></div>
    </div>
    <script>
        $(document).ready(function() {
            $('#generarReporteProductosBtn').click(function() {
                generarReporte('productos');
            });

            $('#generarReporteSolicitudesBtn').click(function() {
                generarReporte('solicitudes');
            });

            $('#descargarPdfBtn').click(function() {
                descargarPDF();
            });

            $('#limpiarCamposBtn').click(function() {
                $('#fecha_inicio').val('');
                $('#fecha_fin').val('');
                $('#productosTable').empty();
                $('#productosTabla').hide();
                $('#solicitudesTable').empty();
                $('#solicitudesTabla').hide();
                $('#message').html('Campos limpiados').removeClass('text-danger').addClass('text-success');
            });

            function generarReporte(tipo) {
                var fechaInicio = $('#fecha_inicio').val();
                var fechaFin = $('#fecha_fin').val();

                $.ajax({
                    url: '{% url "generar_reportes" %}',
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        fecha_inicio: fechaInicio,
                        fecha_fin: fechaFin,
                        tipo_reporte: tipo
                    },
                    success: function(response) {
                        var data = response[tipo];
                        var html = '<thead>';

                        if (tipo === 'productos') {
                            html += '<tr><th>ID Producto</th><th>Nombre Producto</th><th>Cantidad Total</th><th>Tipo Almacén</th><th>Dirección</th><th>Correo</th><th>Teléfono</th></tr>';
                        } else if (tipo === 'solicitudes') {
                            html += '<tr><th>ID Solicitud</th><th>Tipo Almacén</th><th>Nombre Persona</th><th>Nombre Producto</th><th>Cantidad</th><th>Fecha Solicitud</th></tr>';
                        }

                        html += '</thead><tbody>';

                        data.forEach(function(item) {
                            if (tipo === 'productos') {
                                html += '<tr><td>' + item.id_producto + '</td><td>' + item.nombre_producto + '</td><td>' + item.cantidad_total + '</td><td>' + item.tipo_almacen + '</td><td>' + item.direccion + '</td><td>' + item.correo + '</td><td>' + item.telefono + '</td></tr>';
                            } else if (tipo === 'solicitudes') {
                                html += '<tr><td>' + item.id_solicitud + '</td><td>' + item.tipo_almacen + '</td><td>' + item.nombre_persona + '</td><td>' + item.nombre_producto + '</td><td>' + item.cantidad + '</td><td>' + item.fecha_solicitud + '</td></tr>';
                            }
                        });

                        html += '</tbody>';

                        if (tipo === 'productos') {
                            $('#productosTable').html(html);
                            $('#productosTabla').show();
                            $('#solicitudesTabla').hide();
                        } else if (tipo === 'solicitudes') {
                            $('#solicitudesTable').html(html);
                            $('#solicitudesTabla').show();
                            $('#productosTabla').hide();
                        }
                    },
                    error: function(xhr, status, error) {
                        $('#message').html('Error al generar el reporte').removeClass('text-success').addClass('text-danger');
                    }
                });
            }

            function descargarPDF() {
                const { jsPDF } = window.jspdf;
                const pdf = new jsPDF();

                // Agregar contenido de la tabla de productos si está visible
                if ($('#productosTabla').is(':visible')) {
                    pdf.text("Inventario de Productos", 10, 20);
                    const productos = [];
                    $('#productosTable tbody tr').each(function() {
                        const row = [];
                        $(this).find('td').each(function() {
                            row.push($(this).text());
                        });
                        productos.push(row);
                    });
                    pdf.autoTable({ head: [['ID Producto', 'Nombre Producto', 'Cantidad Total', 'Tipo Almacén', 'Dirección', 'Correo', 'Teléfono']], body: productos, startY: 30 });
                }

                // Agregar contenido de la tabla de solicitudes si está visible
                if ($('#solicitudesTabla').is(':visible')) {
                    const lastY = pdf.lastAutoTable ? pdf.lastAutoTable.finalY + 20 : 20;
                    pdf.text("Informe de Solicitudes", 10, lastY);
                    const solicitudes = [];
                    $('#solicitudesTable tbody tr').each(function() {
                        const row = [];
                        $(this).find('td').each(function() {
                            row.push($(this).text());
                        });
                        solicitudes.push(row);
                    });
                    pdf.autoTable({ head: [['ID Solicitud', 'Tipo Almacén', 'Nombre Persona', 'Nombre Producto', 'Cantidad', 'Fecha Solicitud']], body: solicitudes, startY: lastY + 10 });
                }

                pdf.save("reporte.pdf");
            }
        });
    </script>
</body>
</html>
