<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Nueva Solicitud</title>
    <link rel="preload" href="/static/css/normalize.css" as="style">
    <link rel="preload" href="/static/css/styles6.css">
    <link rel="icon"href="../static/img/solicitud.png"type="image/x-icon"/>
    {% load static %}
    <script src="{% static '/js/jquery-3.5.1.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.17/jspdf.plugin.autotable.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/styles6.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <h1>Registro de Nueva Solicitud</h1>
    {% if error_message %}
    <div class="error-message">
      <p>{{ error_message }}</p>
    </div>
    {% endif %}

    <div class="formulario-container">
      <div class="formulario">
        <form id="solicitudForm" method="post" action="{% url 'solicitudes' %}">
          {% csrf_token %}
          <label for="tipo_almacen">Tipo de Almacén:</label>
          <select id="tipo_almacen" name="tipo_almacen" required>
            <option value="" selected disabled>--SELECCIONE--</option>
            {% for tipo_almacen in result %} {% if tipo_almacen.2 == 1 %}
            <option value="{{ tipo_almacen.0 }}">{{ tipo_almacen.1 }}</option>
            {% endif %} {% endfor %}
          </select>

          <label for="nombre_persona">Nombre de Persona:</label>
          <select id="nombre_persona" name="nombre_persona">
            <option value="" selected disabled>--SELECCIONE--</option>
            {% for nombre_persona in result %} {% if nombre_persona.2 == 2 %}
            <option value="{{ nombre_persona.0 }}">
              {{ nombre_persona.1 }}
            </option>
            {% endif %} {% endfor %}
          </select>

          <label for="nombre_producto">Nombre del Producto:</label>
          <select id="nombre_producto" name="nombre_producto">
            <option value="" selected disabled>--SELECCIONE--</option>
            {% for nombre_producto in result %} {% if nombre_producto.2 == 3 %}
            <option value="{{ nombre_producto.0 }}">
              {{ nombre_producto.1 }}
            </option>
            {% endif %} {% endfor %}
          </select>

          <label for="cantidad">Cantidad:</label>
          <input type="number" id="cantidad" name="cantidad" min="1" />
          <div
            id="error-message"
            class="error-message"
            style="color: red"
          ></div>
          <div class="botones">
            <button type="submit" class="agregar">
              <i class="fas fa-plus"></i>Agregar
            </button>
            <button class="borrar" type="button"  id="limpiar_campos">
              <i class="fas fa-trash-alt"></i>Borrar
            </button>
            <button type="button" class="descargar-pdf" id="btn-descargar-pdf">
              <i class="fas fa-file-alt"></i> Reporte
            </button>
          </div>
        </form>
      </div>

      <div class="tabla-container">
        <div class="tabla-solicitud" style="display: none">
          <div class="scrollable-table">
          <table>
            <thead>
              <tr>
                <th>ID Solicitud</th>
                <th>Tipo de Almacén</th>
                <th>Nombre de Persona</th>
                <th>Nombre del Producto</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody id="tabla-solicitud-body"></tbody>
          </table>
        </div>
        </div>
      </div>

      {% comment %} <h2>Formulario de Correo</h2> {% endcomment %}
      <div class="formulario-correo">
        <form
          id="formulario-correo"
          method="POST"
          action="{% url 'solicitudes' %}"
        >
          {% csrf_token %}
          <br />
          <label for="destinatario">Destinatario</label>
          <input type="email" id="destinatario" name="destinatario" required />
          <label for="asunto">Asunto</label>
          <input type="text" id="asunto" name="asunto" required />
          <label for="mensaje">Mensaje</label>
          <textarea id="mensaje" name="mensaje" rows="5" required></textarea>
          <button
            type="submit"
            class="enviar-correo"
            id="boton-enviar-correo"
            disabled
          >
            <i class="fas fa-envelope"></i>Enviar Correo
          </button>
        </form>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        // Obtener el token CSRF del formulario
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();

        // Configurar AJAX para incluir el token CSRF
        $.ajaxSetup({
          beforeSend: function (xhr, settings) {
            if (
              !/^http:.*/.test(settings.url) &&
              !/^https:.*/.test(settings.url)
            ) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          },
        });

        // Evento clic en el botón "Descargar PDF"
        $("#btn-descargar-pdf").on("click", function () {
          const { jsPDF } = window.jspdf;
          const pdf = new jsPDF();

          // Definir estilos como variables
          const titleFontSize = 16;
          const subtitleFontSize = 12;
          const contentFontSize = 10;
          const boldFont = "bold";
          const normalFont = "normal";
          const lineHeight = 10;
          const titleColor = [52, 152, 219];
          const margin = 10;
          let currentY = 20;

          // Funciones para aplicar estilos
          function setTitleStyle() {
            pdf.setFontSize(titleFontSize);
            pdf.setFont("helvetica", boldFont);
          }

          function setSubtitleStyle() {
            pdf.setFontSize(subtitleFontSize);
            pdf.setFont("helvetica", normalFont);
          }

          function setContentStyle() {
            pdf.setFontSize(contentFontSize);
            pdf.setFont("helvetica", normalFont);
          }

          // Datos de la solicitud
          var tipoAlmacen = $("#tipo_almacen option:selected").text();
          var nombrePersona = $("#nombre_persona option:selected").text();
          var nombreProducto = $("#nombre_producto option:selected").text();
          var cantidad = $("#cantidad").val();

          // Título principal
          setTitleStyle();
          pdf.text("Datos de la Solicitud", margin, currentY);
          currentY += 10;
          

          // Tabla de productos si está visible
          if ($(".tabla-solicitud").is(":visible")) {
            setTitleStyle();
            pdf.text("Solicitudes de Productos", margin, currentY);
            currentY += 10;

            const productos = [];
            $("#tabla-solicitud-body tr").each(function () {
              const row = [];
              $(this)
                .find("td")
                .each(function () {
                  row.push($(this).text());
                });
              productos.push(row);
            });

            // Configuración de la tabla
            pdf.autoTable({
              head: [
                [
                  "ID Solicitud",
                  "Tipo de Almacén",
                  "Nombre de Persona",
                  "Nombre del Producto",
                  "Cantidad",
                ],
              ],
              body: productos,
              startY: currentY,
              theme: "striped", // Tema de la tabla
              headStyles: { fillColor: titleColor }, // Color de fondo de la cabecera
              styles: { font: "helvetica", fontSize: contentFontSize }, // Estilo de la fuente
              margin: { top: 20 }, // Margen superior
            });
          }

          // Guardar el PDF
          pdf.save("SOLICITUD.pdf");

          // Llenar automáticamente los campos del formulario de correo
          $("#destinatario").val("dannrobles10@gmail.com");
          $("#asunto").val("SOLICITUD DE PRODUCTOS");
          $("#mensaje").val(
            "Estimado/a, adjunto encontrará el reporte de las solicitudes de productos."
          );
          // Habilitar el botón de enviar correo
          $("#boton-enviar-correo").prop("disabled", false);
        });

        // Enviar formulario de solicitud
        $(".agregar").on("click", function (event) {
          event.preventDefault();
          var formData = $("#solicitudForm").serialize();
          $.ajax({
            url: $("#solicitudForm").attr("action"),
            type: $("#solicitudForm").attr("method"),
            data: formData,
            success: function (data) {
              console.log(data);
              if (data.solicitud_id) {
                alert("Solicitud realizada correctamente.");

                // Agregar una fila a la tabla con los datos de la solicitud
                var tipoAlmacen = $("#tipo_almacen option:selected").text();
                var nombrePersona = $("#nombre_persona option:selected").text();
                var nombreProducto = $(
                  "#nombre_producto option:selected"
                ).text();
                var cantidad = $("#cantidad").val();
                var solicitud_id = data.solicitud_id;

                var newRow =
                  "<tr><td>" +
                  solicitud_id +
                  "</td><td>" +
                  tipoAlmacen +
                  "</td><td>" +
                  nombrePersona +
                  "</td><td>" +
                  nombreProducto +
                  "</td><td>" +
                  cantidad +
                  "</td></tr>";
                $("#tabla-solicitud-body").append(newRow);

                // Mostrar la tabla después de agregar la fila
                $(".tabla-solicitud").show();
              } else {
                $("#error-message").text("Error: " + data.error); // Mostrar el mensaje de error
              }
            },
            error: function (xhr, errmsg, err) {
              console.log(errmsg);
            },
          });
        });

        // Evento clic en el botón de borrar
        $(document).on("click", ".borrar", function () {
          var solicitudId = prompt("Ingresa el ID de la solicitud a borrar:");
          if (solicitudId !== null) {
            $.ajax({
              url: "{% url 'borrar_producto' %}",
              type: "POST",
              data: {
                csrfmiddlewaretoken: csrftoken,
                solicitud_id: solicitudId,
              },
              success: function (response) {
                alert(response.message);
                // Remover la fila correspondiente de la tabla
                $("#tabla-solicitud-body tr").each(function () {
                  var row = $(this);
                  if (row.find("td:first").text() == solicitudId) {
                    row.remove();
                  }
                });
              },
              error: function (xhr, errmsg, err) {
                console.log(errmsg);
              },
            });
          }
        });

        // Evento submit del formulario de correo
        $("#formulario-correo").on("submit", function (event) {
          event.preventDefault();
          var formData = $(this).serialize();

          // Enviar los datos del formulario al servidor
          $.ajax({
            url: $(this).attr("action"),
            type: $(this).attr("method"),
            data: formData,
            success: function (response) {
              // Manejar la respuesta del servidor
              console.log(response);
              console.log("Hola"); // PRUEBA PARA MOSTRAR TEXTO
            },
            error: function (xhr, errmsg, err) {
              // Manejar errores
              console.log(errmsg);
            },
          });
        });
      });
    </script>
  </body>
</html>